Screen {
  padding: 1 1;
}

#history {
  max-height: 100%;
  height: auto;
}

#future {
  max-height: 100%;
  height: auto;
}

#editor {
  border: none;
  padding: 0;
}

#composer {
  height: 40%;
  dock: bottom;
}

.message {
  height: auto;
  /* layout: horizontal; */
  padding: 0 3 1 2; /* top right bottom left */
}
