Screen {
  padding: 1 1;
}

#future {
  height: auto;
  max-height: 30%;
}

#editor {
  border: none;
  padding: 0;
}

#tabview {
  height: 30%;
  min-height: 10;
  dock: bottom;
}

.message {
  height: auto;
  /* layout: horizontal; */
  padding: 0 3 1 2; /* top right bottom left */
}
